#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 16px;
    min-width: 400px;
    max-width: 600px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
